* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 100vh;
}

.container article {
    margin: 10px;
    flex-shrink: 3;
}

.container article:nth-child(2) {
    flex-shrink: 1;
}

img {
    height: 99%;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 1px 1px 13px -1px black;

}