* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 80px auto;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-family: Georgia, serif;
    font-size: 29px;
    margin-bottom: 30px;
}

.cards-layout {
    max-width: 1200px;
    margin: 0 auto;
}

.masonry section {
    column-count: 3;
}

.masonry .card {
    display: inline-block;
}

.card {
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 13px -1px gray;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-content, .card footer {
    padding: 12px;
}

.card footer {
    border-top: 1px solid gray;
}


.flex section{
    display: flex;
    flex-wrap: wrap;
}

.flex .card {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.flex .card-content {
   flex-grow: 1;
}




