* {
    box-sizing: border-box;
}

body {
    margin: 0 20%;
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

blockquote {
    font-family: Georgia, serif;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

h1.site-title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

section:nth-child(1) img {
    float: right;
    padding: 8px;
    margin-left: 25px;
    border: 2px solid black;
}

section:nth-child(2) blockquote {
    float: right;
    width: 30%;
    font-style: italic;
}

section:nth-child(2) > p:nth-child(3)::after {
    position: relative;
    bottom: 100px;
    left: 50px;
    content: '';
    float: right;
    width: 3px;
    height: 200px;
    background-color: lightgray;
}

section:nth-child(2) > p:nth-child(3) {
    float: left;
    width: 50%;
}

section:nth-child(2) > p:nth-child(5) {
    clear: both;
    float: right;
    font-style: italic;
}

section:nth-child(2) > p:nth-child(6) {
    clear: both;
}

section:nth-child(3) > img:nth-child(2) {
    float: left;
    padding: 8px;
    margin-right: 25px;
    border: 2px solid black;
}

