*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

section.timeline {
    border-width: .3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

h3 {
    font-style: italic;
    font-size: 26px;
}

h4 {
    text-align: center;
    border: 2px solid darkgray;
    padding: 5px;
    width: 30%;
    margin: 30px auto;
    border-radius: 5px;
}

li {
    list-style-type: square;
}

article {
    width: 30%;
}

article:nth-child(even) {
    align-self: flex-end;
    margin-right: 180px;
}

article:nth-child(odd) {
    margin-left: 180px;
    text-align: right;
}

article:nth-child(2)::after {
    content: '';
    background-color: #FF9A05;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 49%;
    margin-top: 25px;
    border-radius: 50%;
    border-width: .3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}

article:nth-child(4)::after {
    content: '';
    background-color: #FF9A05;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 49%;
    margin-top: 26px;
    border-radius: 50%;
    border-width: .3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}

article:nth-child(6)::after {
    content: '';
    background-color: #FF9A05;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 49%;
    margin-top: 27px;
    border-radius: 50%;
    border-width: .3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}

article:nth-child(2n)::before {
    content: '';
    background-color: #048E03;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 49%;
    margin-top: 25px;
    border-radius: 50%;
    border-width: .3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}

h4::after {
    content: '';
    background-color: rgb(153, 153, 153);
    width: .3rem;
    height: 1414px;
    position: absolute;
    top: 80px;
    left: 50%;
}

